@import '~lightgallery/dist/css/lightgallery.min.css';
@import '~lightgallery/dist/css/lg-transitions.min.css';
@import '~lightgallery/dist/css/lg-fb-comment-box.min.css';

.gallery-items{
    display: block;
}
.gallery-items__img{
    display: block;
    width: 100%;
    @include objectfit();
}
