// Global
$form--primary: $primary;
$form--transition: all .2s ease;
$form--height: rem(60);
$form--placeholder-color: $grey-light;
// Font
$form--label-weight: $fw-semibold;
$form--label-color: $black;
$form--color: $black;
// Background
$form--background: $white;
// Padding
$form--pt: calc( (#{$form--height} / 100) * 32 );
$form--pr: rem(15);
$form--pb: calc( (#{$form--height} / 100) * 32 );
$form--pl: rem(15);
// Border
$form--radius: 0px;
$form--border-size: 1px;
$form--border-color: $border-color;
$form--border-color-focus: darken($form--border-color, 25%);
$form--border-size: $form--border-size;
$form--border-top-size: $form--border-size;
$form--border-right-size: $form--border-size;
$form--border-bottom-size: $form--border-size;
$form--border-left-size: $form--border-size;
// Change Filled
$form--change-filled-google: false;
// Layout
$form--gap-x: rem(5);
$form--gap-y: rem(10);

form{
    *{ @include placeholder{ color: $form--placeholder-color !important }; }
    .columns, &.columns{
        @include layoutRestartColumn($form--gap-x, $form--gap-y)
    }
}  