$change-filled--google: $form--change-filled-google !default;
$change-filled--google--label-px: rem(5) !default;
$change-filled--label-color-filled: $form--label-color !default;

.field.change-filled{
    position: relative;
    cursor: pointer;

    .control{
        background: $form--background;
    }

    &.is-disabled{
        &.is-filled{
            .input{
                background: $light;
                border-color: $light;
            }
        }
    }

    // LABEL
    .label{
        cursor: text;
        user-select: none; /* Standard */
        position: absolute; z-index: 1;
        left: 0; top: 0;
        transform: translate3d(0,0,0);
        padding: calc(#{$form--pt} + #{rem(0)}) $form--pr $form--pb $form--pl;
        height: $form--height;
        line-height: calc( (#{$form--height} / 100 ) * 37.5) ;
        transition: $form--transition;
        white-space: nowrap;
        span{
            background: transparent;
            @if $change-filled--google {
                padding: calc(#{$change-filled--google--label-px} / 2) $change-filled--google--label-px;
                margin-left: -#{$change-filled--google--label-px};
                border-radius: 100px;
            }
        }
    }

    // INPUT
    .input, .textarea{
        @include placeholder{color: transparent !important};
        background: transparent; width: 100%;
        @if $change-filled--google != true {
            padding-top: calc((#{$form--height} / 100 ) * 60);
        } 
    }

    // SELECT
    .select{
        z-index: 2;
        select{
            background-color: transparent;
        }
    }

    // TEXTAREA
    .textarea{
        min-height: rem(180);
        resize: none;
        @include mq(max-mobile){
            min-height: rem(300);
        }
    }
    &.has-textarea{ 
        .label{
            width: 100%;
        }
        .control{
            position: relative;
            @if $change-filled--google != true {
                &:after{
                    @include pseudo();
                    border-radius: $form--radius $form--radius 0 0;
                    left: $form--border-size; top: $form--border-size;
                    width: calc( 100% - (#{$form--border-size} * 2)); height: rem(40);
                    background: linear-gradient(to bottom, $form--background 0%, $form--background 50%, rgba($form--background, 0) 100%);
                }
            }
        }
    }

    // INTLE TEL INPUT
    .icon, .iti__flag-container{
        z-index: 9;
        opacity: 0;
        transition: $form--transition;

        &:hover{
            .iti__selected-flag{ background: transparent; }
        }
        .iti__selected-flag{
            @if $change-filled--google != true {
                padding-top: calc((#{$form--height} / 100 ) * 25) !important;
            }
            padding-left: $form--pl !important;
            padding: 0;
            background: transparent;
            // PARENTHESE
            &:before{
                content:'( ';
                display: inline-block;
                margin-right: rem(5); opacity: 0.5;
            }
            &:after{
                content:' )';
                display: inline-block;
                margin-left: rem(5); opacity: 0.5;
            }
            /// PARENTHESE
        }
        .iti__arrow{ display: none; }
    }

    // PASSWORD
    .input-switch-type{
        opacity: 0;
    }

    &.is-filled{
        .input-switch-type{
            opacity: 1;
        }
        .label{
            z-index: 3;
            font-size: rem(14);
            transform: translate3d(0,-18%,0);
            color: $change-filled--label-color-filled;
            @if $change-filled--google {
                transform: translate3d(0,-50%,0);
                >span{
                    background: $form--background;
                }
            }
        }
        .input{
            position: relative;
            z-index: 2;
            // border-top: $form-border-top-size solid $form--border-color-focus;
            // border-left: $form-border-left-size solid $form--border-color-focus;
            // border-bottom: $form-border-bottom-size solid $form--border-color-focus;
            // border-right: $form-border-right-size solid $form--border-color-focus;
            &.is-birthday-master{
                >*{ opacity: 1;}
            }
        }
        .select select,
        .select2 .select2-selection{
            padding-bottom: rem(10)
        }
        .icon, .iti__flag-container{
            opacity: 1;
        }
    }
}
