$label--color: $form--label-color;
$label--fw: $form--label-fw;
$label--size: $fs-base;

.label {
    display: block;

    color: $label--color;
    font-weight: $label--fw;
    font-size: $label--size;

    &:not(:last-child) {
        margin-bottom: 0.5em;
    }  // Sizes
}
