.control {
    position: relative;

    clear: both;
    box-sizing: border-box;

    text-align: inherit;
    // Modifiers
    &--icon-left,
    &--icon-right {
        .input,
        .select {
            &:focus {
                & ~ .input-icon {
                    // color: $input-icon-active-color;
                }
            }
        }

        .input-icon {
            position: absolute;
            top: 0;
            z-index: 4;

            display: inline-flex;
            align-items: center;
            justify-content: center;

            width: $form--height;
            height: $form--height;

            pointer-events: none;
        }
    }

    &--icon-left {
        .input,
        .select select {
            padding-left: $form--height;
        }

        .input-icon:first-child {
            left: 0;
        }
    }

    &--icon-right {
        .input,
        .select select {
            padding-right: $form--height;
        }

        .input-icon:last-child {
            right: 0;
        }
    }

    &--loading {
        .input-icon:last-child {
            opacity: 0;
        }

        &::after {
            @extend %loading;
            @include ltr-position(#{$form--pr});
            position: absolute !important;
            // calc( (input height / 2 ) - loader height / 2);
            top: calc((#{$form--height} / 2) - #{em(8)});
            z-index: 4;
        }
    }
}

// .control-grouped {
//     display: flex;
//     justify-content: flex-start;

//     .control {
//         &:not(:last-child) {
//             @include ltr-property('margin', -1px);
//         }
      
//         &--grow {
//             flex-grow: 1;
//             flex-shrink: 0;
//         }

//         &:not(:first-child):not(:last-child) {
//             .button,
//             .input,
//             .select select {
//                 border-radius: 0;
//             }
//         }

//         &:first-child:not(:only-child) {
//             .button,
//             .input,
//             .select select {
//                 @include ltr {
//                     border-top-right-radius: 0;
//                     border-bottom-right-radius: 0;
//                 }
//                 @include rtl {
//                     border-top-left-radius: 0;
//                     border-bottom-left-radius: 0;
//                 }
//             }
//         }

//         &:last-child:not(:only-child) {
//             .button,
//             .input,
//             .select select {
//                 @include ltr {
//                     border-top-left-radius: 0;
//                     border-bottom-left-radius: 0;
//                 }
//                 @include rtl {
//                     border-top-right-radius: 0;
//                     border-bottom-right-radius: 0;
//                 }
//             }
//         }

//         .button,
//         .input,
//         .select select {
//             &:not([disabled]) {
//                 &:hover,
//                 &.is-hovered {
//                     z-index: 2;
//                 }

//                 &:focus,
//                 &.is-focused,
//                 &:active,
//                 &.is-active {
//                     z-index: 3;

//                     &:hover {
//                         z-index: 4;
//                     }
//                 }
//             }
//         }
//     }
// }
