@mixin selectOverhided(
    $height: rem(40),
    $background: transparent,
    $radius: 3px,
    $paddingX: rem(10),
    $paddingY: rem(5),
    $border-size: 1px,
    $border-color: transparent,
    $dir: 'tiny',
    $arrow-color: $primary,
    $arrow-width: rem(10),
) {
    select {
        width: 100%;
        height: $height;


        padding: $paddingY $paddingX;

        background: $background;
        border: $border-size solid $border-color;

        border-radius: $radius;
        box-shadow: none;
        @if($dir == 'tiny') {
            padding-right: calc(#{$paddingX} + #{$arrow-width}) !important;
        }

        &:active,
        &:focus,
        &:hover {
            border: $border-size solid $border-color;
        }

    }

    &:not(.is-loading)::after {
        top: calc(#{$height} / 2);
        @if($dir == 'tiny') {
            right: 0;
        }
    }

    &:not(.is-loading)::after { width: $arrow-width;
        height: $arrow-width;

        border-color: $arrow-color;
    }
}

.select-lang {
    @extend %select;
    @include selectOverhided();
}
