@mixin selecOverhided(
    $height: rem(40),
    $background: transparent,
    $radius: 3px,
    $paddingX: rem(10),
    $paddingY: rem(5),
    $border-size: 1px,
    $border-color: transparent,
    $dir: 'tiny',
    $arrow-color: $primary,
    $arrow-width: rem(10),
){
    select{
        width: 100%;
        box-shadow: none;
        height: $height;
        background: $background;

        border-radius: $radius;
        border: $border-size solid $border-color;


        padding:  $paddingY $paddingX;
        @if($dir == 'tiny'){
            padding-right: calc(#{$paddingX} + #{$arrow-width} )!important;
        }

        &:active,
        &:focus,
        &:hover{
            border: $border-size solid $border-color;
        }
    }
    &:not(.is-loading)::after {
        top: calc(#{$height} / 2);
        @if($dir == 'tiny'){
            right: 0;
        }
    }
    &:not(.is-loading)::after {
        border-color: $arrow-color;
        height: $arrow-width; width: $arrow-width;
    }
}

.select-lang{
    @extend %select;
    @include selectOverhided();
    // select:hover{
    //     background: darken($white-ter, 5%);
    // }
}
