// Global
$form--primary: $primary !default;
$form--transition: all .2s ease !default;
$form--height: rem(60) !default;
$form--placeholder-color: $grey-light !default;
$form--focus-width: rem(4) !default;
$form--focus-rgba: .2 !default;
// Font
$form--label-weight: $weight-semibold !default;
$form--label-color: $body-color !default;
$form--color: $body-color !default;
// Background
$form--background: $white !default;
// Padding
$form--pt: calc( (#{$form--height} / 100) * 32 ) !default;
$form--pr: rem(15) !default;
$form--pb: calc( (#{$form--height} / 100) * 32 ) !default;
$form--pl: rem(15) !default;
// Border
$form--radius: 0px !default;
$form--border-size: 1px !default;
$form--border-color: $border-color !default;
$form--border-color-focus: darken($form--border-color, 25%) !default;
$form--border-size: $form--border-size !default;
$form--border-top-size: $form--border-size !default;
$form--border-right-size: $form--border-size !default;
$form--border-bottom-size: $form--border-size !default;
$form--border-left-size: $form--border-size !default;
// Change Filled
$form--change-filled-google: false !default;
// Layout
$form--gap-x: rem(5) !default;
$form--gap-y: rem(10) !default;

form{
    *{ @include placeholder{ color: $form--placeholder-color !important }; }
    .columns, &.columns{
        @include layoutRestartColumn($form--gap-x, $form--gap-y)
    }
}  

// Elements
@import 'elements/input';
@import 'elements/select';
@import 'elements/check';
@import 'elements/checkbox';
@import 'elements/radio';

// General
@import 'general/label';
@import 'general/field';
@import 'general/change-filled';
@import 'general/validation';
@import 'general/messages';