
// Color
$black: #000;
$black-bis: #333;
$black-ter: #373737;

$grey-darker: #333;
$grey-dark: #666;
$grey: #999;
$grey-light: #ccc;
$grey-lighter: #ddd;

$white-ter: #f3f3f3;
$white-bis: #fafafa;
$white: #fff;

$primary: #23a6f0;
$link: #0f84d8;
$success: #5cc423;
$danger: #da291c;

// Typography
$ff-default: Tahoma, Geneva, Verdana, sans-serif;
$ff-title: Tahoma, Geneva, Verdana, sans-serif;
$ff-code: monospace;

$fs-xs: var(--fs-xs, #{rem(12)}) !default;
$fs-sm: var(--fs-sm, #{rem(14)}) !default;
$fs-base: var(--fs-base, #{rem(16)}) !default;
$fs-lg: var(--fs-lg, #{rem(20)}) !default;
$fs-xl: var(--fs-xl, #{rem(24)}) !default;
$fs-2xl: var(--fs-2xl, #{rem(32)}) !default;
$fs-3xl: var(--fs-3xl, #{rem(40)}) !default;
$fs-4xl: var(--fs-4xl, #{rem(48)}) !default;

$fw-light: 300 !default;
$fw-regular: 400 !default;
$fw-medium: 500 !default;
$fw-semibold: 600 !default;
$fw-bold: 700 !default;
$fw-extrabold: 800 !default;
$fw-black: 900 !default;

// Browser context
$browser-context: 16 !default;

// Media queries
$breakpoints: (
    xs: 375,
    sm: 640,
    md: 768,
    lg: 1024,
    xl: 1280,
    2xl: 1536,
    3xl: 1920,
);

// Spacing
$spacing: 10px;
$spacing-sizes: (
    auto: auto,
    1: $spacing,
    2: $spacing * 2,
    3: $spacing * 3,
    4: $spacing * 4,
    5: $spacing * 5,
    6: $spacing * 6,
);

// Z-index
$z-index-values: ('modal', 'tooltip', 'header', 'base');

// Gutter 
$gutter: 30px;
$gutter-mobile: 16px;

// Generic
$body-font-size: #{$browser-context}px;
$body-line-height: 1.4;
$body-family: $ff-default;
$body-weight: $fw-regular;
$body-color: $black-bis;
$body-background-color: $white;

// Border
$border-radius: rem(7);
$border-radius-rounded: 99999px !default;
$border-color: $grey-lighter;
$border-color-focus: $grey-light;

// Shadow @source https://s.muz.li/MWNjYTY2Yjk4
$shadow: 0 0.4px 1.5px rgba(0, 0, 0, 0.008), 0 1.3px 5.1px rgba(0, 0, 0, 0.011), 0 6px 23px rgba(0, 0, 0, 0.03) !default;

// Form global
$form--primary: $primary !default;
$form--transition: all 0.2s ease !default;
$form--height: rem(60) !default;
$form--placeholder-color: $grey-light !default;
$form--focus-width: rem(4) !default;
$form--focus-rgba: 0.2 !default;
// Form font
$form--label-fw: $fw-semibold !default;
$form--label-color: $body-color !default;
$form--color: $body-color !default;
// form background
$form--background: $white !default;
// Padding
$form--pt: calc((#{$form--height} / 100) * 32) !default;
$form--pr: rem(15) !default;
$form--pb: calc((#{$form--height} / 100) * 32) !default;
$form--pl: rem(15) !default;
// Form border
$form--border-radius: $border-radius !default;
$form--border-size: 1px !default;
$form--border-color: $border-color !default;
$form--border-color-focus: $border-color-focus !default;
$form--border-less: false;
// Form change filled
$form--float-label-google: false !default;
// Form layout
$form--gap-x: rem(5) !default;
$form--gap-y: rem(10) !default;

// Try some customization stylesheet and see the power of SCSS:
// @import 'customization/brico';
// @import "customization/google";
