@mixin select-aspect(
    $height: rem(40),
    $background: transparent,
    $radius: 3px,
    $padding-x: rem(10),
    $padding-y: rem(5),
    $border-size: 1px,
    $border-color: transparent,

    $dir: 'tiny',
    $arrow-color: $primary,
    $arrow-width: rem(10),
) {
    position: relative;

    display: inline-block;
    width: 100%;

    vertical-align: top;

    select {
        display: block;
        width: 100%;
        height: $height;
        padding: $padding-y $padding-x;

        background: $background;
        border: $border-size solid $border-color;
        border-radius: $radius;
        outline: none;
        box-shadow: none;
        cursor: pointer;

        appearance: none;

        @if($dir == 'tiny') {
            padding-right: calc(#{$padding-x} + #{$arrow-width}) !important;
        }

        &::-ms-expand {
            display: none;
        }

        // &:hover,
        // &:focus {
        // }
    }

    &::after {
        @include arrow();
        border-color: $arrow-color;
        @if($dir == 'tiny') {
            right: 2px;
        }
    }
};

.select-lang {
    @include select-aspect();
}
