$label--color: $form--label-color;
$label--weight: $form--label-weight;
$label--size: $size-6;

.label {
    display: block;

    color: $label--color;
    font-weight: $label--weight;
    font-size: $label--size;

    &:not(:last-child) {
        margin-bottom: 0.5em;
    }  // Sizes
}
