// Infos
.input-infos,
.radio-infos,
.checkbox-infos {
    position: relative;

    margin: 0 0 0 $form--pl;

    color: $grey-dark;
    font-weight: $weight-regular;
    font-size: rem(14);
    line-height: 1;
    * { font-size: rem(14); }

    &.content {
        margin-bottom: 0;
        p:not(:last-child) {margin-bottom: rem(4);}
    }

    .info {
        >* {
            margin-top: rem(7);
        }

        & + .info>* {
            margin-top: rem(3);
        }
    }
}

.checkbox-infos {
    margin-top: rem(-3);
}

.radio-infos {
    margin-top: calc(#{$form--gap-y} * -2);       
}

.radio + .radio-infos {
    margin-top: rem(-7);       
}
