.field.is-error{

}

.field.is-valid{

}

.error-msg{
    color: $danger;
    text-align: left;
}

.suggestion-msg{
    color: $black;
}

// .input,
// .textarea,
// .select select,
// select,
// input[type="checkbox"],
// input[type="radio"]{

// }
