// Import a Font and set your fonts variables
@import '../fonts/base64/VW';
$font-default: 'VW';
$font-title: 'VW';
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

// Set your variables
$blue-rs: #61a9ff;
// Update Bulma's global variables
// https://bulma.io/documentation/customize/variables/
$family-sans-serif: $font-default;
$primary: $blue-rs;
// $link: ;
$widescreen-enabled: true;
$fullhd-enabled: true;
$column-gap: 10px;
$gutter: 16px;
$hero-body-padding: $gutter;

// Colors:
// $colors: #000000;
$black:  #000000;
// $black-bis: ;
$black-ter: #373737;
$grey-darker: #333;
$grey-dark: #666;
$grey: #999;
$grey-light: #CCC;
$grey-lighter: #DDD;
$white-ter: #F3F5F6;
// $white-bis: ;
$white:  #ffffff;

// Font-size:
// $size-7: 12px;
$text: #000000;

$body-background-color: $white;
$control-border-width: 1px;
$input-border-color: transparent;
$input-shadow: none;
$text-strong: $black;
$border-color: $grey-lighter;

// Shadow:
$shadow  :
0 0.4px 1.5px rgba(0, 0, 0, 0.008),
0 1.3px 5.1px rgba(0, 0, 0, 0.011),
0 6px 23px rgba(0, 0, 0, 0.03)!default;

$shadow-far  : 0 0 40px 0 rgba(0,0,0,0.15) !default;
// Radius:
$radius: 0px;
$border-color: $grey-lighter;

// To dark mode
// @import 'variations/dark-mode';

// Import only what you need from Bulma
@import "../bulma";
