// VARIABLES => '_01-config/variables.scss'
@import '../fonts/base64/Brico';
$family-default: 'Brico';
$family-title: 'Brico';

$black: #5e5e5e;
$black-ter: #373737;
$grey-darker: #333;
$grey-dark: #565654;
$grey: #999;
$grey-light: #ccc;
$grey-lighter: #e7e7e7;
$white-ter: #fafafa;
$white-bis: hsl(0, 0%, 98%);
$white: #fff;

$yellow: #ffce00;
$red: #e44;
$green: #339919;
$blueLight: #fbfbfb;

$primary: $red;
$secondary: $yellow;

$text: $black;

// FORM => '_03-form/_global.scss'
$form--primary: $primary; 
$form--focus-width: rem(3); 
$form--focus-rgba: 0.2; 
$form--border-radius: rem(4); 
$form--border-color: #e7e7e7; 
$form--border-color-focus: darken($form--border-color, 25%); 
$form--label-weight: $weight-regular;

// RADIO => '_03-form/elements/radio.scss'
$radio--size: rem(16);
$radio--after-size: rem(9);
$radio--after-size-hover: 3;
$radio--after-background-checked: #565654;
$radio--border-color: #565654;
$radio--border-color-hover: #565654;
$radio--border-color-checked: #565654;

// Checkbox => '_03-form/elements/checkbox.scss'
$checkbox--size: rem(22);
$checkbox--after-size: rem(12);
$checkbox--after-background-checked: $secondary;
$checkbox--border-radius: $form--border-radius;
$checkbox--border-color-checked: $secondary;
$checkbox--check-color: findColorInvert($checkbox--border-color-checked);

// MAIN LAYOUT
$main-layout--background: #fafafa;

// BUTTON => '_05-elements/button.scss'
$button--radius: $form--border-radius;
$button--background: $primary;

// Note:
// Please considere to change 'change-filled' to false on all form elements to match Brico style.
