@import '~intl-tel-input/build/css/intlTelInput.min.css';
//FIX BUG BULMA
.highlight:not(:last-child) {
    margin-bottom: 0;
}

.iti__country-list {
    z-index: 5;
}

.iti,
.intl-tel-input {
    width: 100%;
}

.iti-mobile .iti--container {
    height: 90%;
}

.iti__flag {
    background-image: url(https://image.mail.dieteren.be/lib/fea113737564047c76/m/13/5352152c-8066-4faa-a9aa-ac7076dd3620.png);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url(https://image.mail.dieteren.be/lib/fea113737564047c76/m/13/3882250b-dd53-4694-b7a9-b0476802e1fc.png);
    }
}

// INTL TEL INPUT
.selected-flag {
    max-height: $form--height;
}

.intl-tel-input .selected-flag {
    padding-left: $form--pl;
}

.intl-tel-input.allow-dropdown input,
.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.allow-dropdown input[type=tel],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=text],
.intl-tel-input.separate-dial-code input[type=tel] {
    padding-left: calc(#{$form--pl} + 40px);
}

// Float label
.field--float-label {
    /* stylelint-disable-next-line selector-class-pattern */
    .iti__flag-container,
    .icon {
        z-index: 9;

        opacity: 0;

        transition: $form--transition;

        &:hover {
            /* stylelint-disable-next-line selector-class-pattern */
            .iti__selected-flag { background: transparent; }
        }

        /* stylelint-disable-next-line selector-class-pattern */
        .iti__selected-flag {
            padding: 0;
            padding-left: $form--pl !important;

            background: transparent;
            // PARENTHESE
            /* stylelint-disable-next-line max-nesting-depth */
            &::before {
                display: inline-block;
                margin-right: rem(5);

                opacity: 0.5;

                content: '( ';
            }

            &::after {
                display: inline-block;
                margin-left: rem(5);

                opacity: 0.5;

                content: ' )';
            }
            @if $form--float-label-google != true {
                padding-top: calc((#{$form--height} / 100 ) * 25) !important;
            }
            /// PARENTHESE
        }
        /* stylelint-disable-next-line selector-class-pattern */
        .iti__arrow { display: none; }
    }

    &.field--filled {
        /* stylelint-disable-next-line selector-class-pattern */
        .iti__flag-container,
        .icon {
            opacity: 1;
        }
    }
}
