// Check animation #01
@keyframes check1 {
    0% { 
        stroke-dasharray: 20;
        stroke-dashoffset: 20;

        opacity: 1;
    }

    100% { 
        stroke-dasharray: 20;
        stroke-dashoffset: 0;

        opacity: 1;
    }
}
// Check animation #02
@keyframes check2 {
    0% { 
        stroke-dasharray: 18;
        stroke-dashoffset: 18;

        opacity: 1;
    }

    100% { 
        stroke-dasharray: 18;
        stroke-dashoffset: 0;

        opacity: 1;
    }
}
// Check animation #03
@keyframes check3 {
    0% { 
        stroke-dasharray: 24;
        stroke-dashoffset: 24;

        opacity: 1;
    }

    100% { 
        stroke-dasharray: 24;
        stroke-dashoffset: 0;

        opacity: 1;
    }
}


.check-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);

}

.check-svg-path {
    opacity: 0;

    fill: none;
    stroke: $white;
    stroke-width: 2;
}

input[type=checkbox]:checked~* .check-svg ,
input[type=radio]:checked~* .check-svg {
    &--1 {
        .check-svg-path {
            animation: check1 0.2s ease-out 0.1s forwards;
        }
    }

    &--2 {
        .check-svg-path {
            animation: check2 0.2s ease-out 0.1s forwards;
        }
    }

    &--3 {
        .check-svg-path {
            animation: check3 0.2s ease-out 0.1s forwards;
        }
    }
}
