$accordion--border-radius: $border-radius;
$accordion--border-color: $border-color;
$accordion--transition: all 0.3s ease;

.accordion {
    $self: &;
    width: 100%;
    overflow: hidden;

    
    border-radius: $accordion--border-radius;
    cursor: pointer;
    // Layout
    &__head {
        display: flex;

        font-weight: $weight-bold;

        background: $white;

        transition: $accordion--transition;

        &-content,
        &-arrow {
            margin: 0;
            padding: rem(20);
        }

        &-content {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: flex-start;
            padding-right: 0;
    
            font-size: rem(14);
            text-transform: uppercase;
        }
    }

    &__body {
        height: 0;
        overflow: hidden;

        background: rgba($accordion--border-color, 0.2);

        transition: $accordion--transition;

    }
    // Elements
    &__arrow {
        @include icon-tricks(
            $line-background: $black,
            $line-width: 33%,
            $line-height: 2px,
            $dir: down,
        );
        transition: $accordion--transition;
    }

    &__content {
        max-width: rem(1180);
        margin-left: 0;
        padding: rem(30) rem(20) rem(50) rem(20);

    }
    // Modifier
    &--active {
        border-bottom: 1px solid transparent;

        #{$self}__head {
            color: $white;

            background: $black-ter;
        }
        #{$self}__arrow {
            border-color: rgba($white, 0.5);
            transform: rotate(180deg);

            &::after {
                border-top-color: $white;
                border-left-color: $white;
            }
        }
    }
}

// Accordions
.accordions {
    .accordion {
        border-radius: 0;

        &:not(:last-child) {
            border-bottom: 1px solid $accordion--border-color;
        }
        
        &:first-child {
            border-radius: $accordion--border-radius $accordion--border-radius 0 0;
        }

        &:last-child {
            border-radius: 0 0 $accordion--border-radius $accordion--border-radius;
        }
    }    
}

// Wrapper
.wrapper-accordions {
    background: $white-bis;
}
