.hero-split {
    display: flex;
    width: 100%;
    height: rem(600);

    border-bottom: 1px solid $border-color;

    @include mq('max','md') {
        flex-direction: column;
        height: auto;
    }

    // Layout
    &__img-wrapper,
    &__content-wrapper {
        width: 50%;
        @include mq('max','md') {
            width: 100%;
        }
    }

    &__img-wrapper {
        position: relative;
        @include mq('min','xl') {
            display: flex;
            justify-content: flex-end;

            background: #708ebb;
        }
        
    }
    
    &__content-wrapper {
        display: flex;
        align-items: center;
        padding: rem(50);
        @include mq('max','md') {
            padding: rem(40) $gutter;
        }
    }

    &__content-container {
        @extend %container-small;
        margin-left: 0;
    }

    // Elements
    &__img {
        &.min-mobile {
            @include cover();
            @include mq('min', 2xl) {
                mask-image: linear-gradient(to left, $black 75%, rgba($black, 0) 100%);
            }
            
        }
    }

    // &__title {
    // }
    // &__subtitle{
    // }
    // &__content{
    // }
}
