$footer-background: $white-ter;
$footer-color: #{$black};
$footer-font-size: rem(14);

.footer {
    @extend %wrapper;
    font-size: $footer-font-size;

    background: $footer-background;
    // Layout
    &__container {
        @extend %container;
        padding: rem(30) 0;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        @include mq('max','sm') {
            display: block;
        }
        @include mq('max','sm') {
            .footer-list {
                &--left {
                    padding-bottom: rem(10);
                }
            } 
    
            .footer-list {
                &--right {
                    padding-top: rem(10);
        
                    border-top: 1px solid rgba($grey-light, 0.5);
                } 
            }
        }
    }
    // Elements
    &__link {
        display: block;

        color: $footer-color;

        &:hover {
            color: $footer-color;
        }
    }
}


.footer-list {
    display: flex;
    align-items: center;
    margin: 0 rem(-10);

    @include mq('max','sm') {
        display: block;
        margin: 0;

        text-align: center;

        &__el {
            padding: rem(5);

            &:not(:last-child) {
                border-right: none solid $black;
            }   
        }
    }

    &__el {
        padding: 0 rem(10);

        &:not(:last-child) {
            border-right: 1px solid $grey-light;
        }   
    }
}
