@charset "utf-8";

/* Configuration: */
@import 'app/_01-config/functions';
@import 'app/_01-config/variables';
@import 'app/_01-config/mixins';

/* Base: */
@import 'app/_02-base/minireset';
@import 'app/_02-base/generic';
@import 'app/_02-base/animation';
@import 'app/_02-base/utilities';
@import 'app/_02-base/intl-tel-input'; // 19ko uncompressed
@import 'app/_02-base/bulma'; // Bulma used for the grid layout

/* Form (the special feature from Bastien R+S): */
@import 'app/_03-form/all';

/* Layout Grid: */
@import 'app/_04-layout/main-layout';

/* Elements */
@import 'app/_05-elements/typography';
@import 'app/_05-elements/icon-svg';
@import 'app/_05-elements/button';
@import 'app/_05-elements/select-lang';
@import 'app/_05-elements/progress';

/* Components */
@import 'app/_06-components/accordion';
@import 'app/_06-components/header';
@import 'app/_06-components/footer';

/* Pages */
@import 'app/_07-pages/landing';
