@charset "utf-8";

/* Configuration: */
@import 'app/1-config/functions';
@import 'app/1-config/mixins';
@import 'app/1-config/variables';

/* Base: */
@import 'app/2-base/minireset';
@import 'app/2-base/generic';
@import 'app/2-base/animation';
@import 'app/2-base/intl-tel-input'; // 19ko uncompressed

/* Layout Grid: */
@import 'app/3-layout/container-wrapper';
@import 'app/3-layout/main-layout';
@import 'app/3-layout/grid';
@import 'app/3-layout/spacing';
@import 'app/3-layout/toggle-display';

/* Elements */
@import 'app/4-elements/typography';
@import 'app/4-elements/button';
@import 'app/4-elements/icon';
@import 'app/4-elements/select-lang';
@import 'app/4-elements/progress';

/* Form (the special feature from Bastien R+S): */
@import 'app/5-form/elements/input';
@import 'app/5-form/elements/select';
@import 'app/5-form/elements/radio';
@import 'app/5-form/elements/check';
@import 'app/5-form/elements/checkbox';

@import 'app/5-form/general/layout';
@import 'app/5-form/general/field';
@import 'app/5-form/general/label';
@import 'app/5-form/general/control';
@import 'app/5-form/general/help';
@import 'app/5-form/general/validation';

/* Components */ 
@import 'app/6-components/header';
@import 'app/6-components/footer';
@import 'app/6-components/accordion';
@import 'app/6-components/hero-split';

/* Pages */
@import 'app/7-pages/landing';
