// Global
$radio--size: rem(30) !default;
$radio--border-size: $form--border-size !default;
$radio--color: $form--color !default;
$radio--label-weight: $form--label-weight !default;
$radio--border-radius: 50% !default;
// After
$radio--after-size: rem(17) !default;
$radio--after-size-hover: 2.5 !default;
$radio--after-background: transparent !default;
$radio--after-background-hover: rgba($form--border-color-focus, 0.2) !default;
$radio--after-background-checked: $form--primary !default;
// Background
$radio--back-background: $white !default;
$radio--back-background-hover: $white !default;
$radio--back-background-checked: $white !default;
// Border
$radio--border-color: $form--border-color !default;
$radio--border-color-hover: $form--border-color-focus !default;
$radio--border-color-checked: $form--primary !default;
// Background

.radio {
    $self: &;
  
    position: relative;

    display: inline-block;
    width: auto;

    color: $radio--color;
    font-weight: $radio--label-weight;

    cursor: pointer;

    /* stylelint-disable-next-line scss/selector-no-redundant-nesting-selector */
    &+.radio {
        @include ltr-property('margin', #{rem(15)}, false);
    }

    // Elements
    &__input {
        position: absolute;

        cursor: pointer;
        opacity: 0;
    }
    
    &__label {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
    }

    &__inner {
        display: inline-flex;
        align-items: center;
    }

    &__radio,
    &__check {
        position: relative;

        display: inline-block;
        width: $radio--size;
        min-width: $radio--size;
        height: $radio--size;
        margin-right: em(10);

        color: transparent;

        background: $radio--back-background;
        border: $radio--border-size solid darken($radio--border-color, 5%);
        border-radius: $radio--border-radius;

        transition: all 0.2s ease;


        &::after {
            position: absolute;
            top: 50%;
            left: 50%;

            width: $radio--after-size;
            height: $radio--after-size;

            background: $radio--after-background;
            border-radius: $radio--border-radius;
            transform: translate3d(-50%, -50%, 0);

            transition: all 0.2s ease;

            content: '';
        }
    }
    
    // State
    &:hover,
    &__input:focus:not(:checked) ~ * {
        #{$self}__radio,
        #{$self}__check {
            background: $radio--back-background-hover;
            border-color: $radio--border-color-hover;

            &::after {
                background: $radio--after-background-hover;
                transform: translate3d(-50%, -50%, 0) scale($radio--after-size-hover);
            }
        }
    }
    
    &__input:checked:focus:not(:hover) ~ * {
        #{$self}__radio,
        #{$self}__check {
            box-shadow: 0 0 0 $form--focus-width rgba($radio--border-color-checked, $form--focus-rgba);
        }
    }

    &__input:checked ~ * {
        #{$self}__radio,
        #{$self}__check {
            background: $radio--back-background-checked;
            border-color: $radio--border-color-checked;

            &::after {
                background: $radio--after-background-checked;
                transform: translate3d(-50%, -50%, 0) scale(1);

                transition: all 0.1s ease;
            }

        }

        #{$self}__check {
            background: $radio--after-background-checked;

            &::after {
                opacity: 0;
            }
        }
    } 


    // Modifiers
    &--button {
        width: 100%;

        #{$self}__inner {
            display: flex !important;
            align-items: center;
            height: $form--height;
            padding: $form--pt $form--pr $form--pb $form--pl;

            background: $form--background;
            border: $form--border-size solid $form--border-color;
            border-radius: $form--border-radius;
    
        }

        &:hover #{$self}__inner,
        #{$self}__radio:checked:focus:not(:hover) ~ #{$self}__inner {
            border-color: $radio--border-color-hover;
        }
    }
}


// RADIOS
.radios {
    display: flex;
    flex-wrap: wrap;
    margin: rem(-3) rem(-10);

    .radio,
    .radio-infos,
    .radio-label {
        padding: rem(3) rem(10);
    }
}

.radio-infos {
    width: 100%;
}

.radio-label {
    width: 100%;

    font-weight: $form--label-weight;
}
