$input--color: $black !default;
$input--background: $form--background !default;

$input--pt: $form--pt !default;
$input--pr: $form--pr !default;
$input--pb: $form--pb !default;
$input--pl: $form--pl !default;

$input--radius: $form--border-radius !default;
$input--border-size: $form--border-size !default;
$input--border-color: $form--border-color !default;
$input--border-color-focus: $form--border-color-focus !default;
$input--border-less: $form--border-less;

$input--disabled-color: $grey !default;
$input--disabled-background-color: $white-ter !default;
$input--disabled-border-color: $white-ter !default;
$input--disabled-placeholder-color: bulmaRgba($input--disabled-color, 0.3) !default;

@mixin input {
    @extend %control; 
    display: block;
    width: 100%;

    max-width: 100%;
    height: $form--height;
    padding: $input--pt $input--pr $input--pb $input--pl;

    color: $input--color;

    background: $input--background;
    border: $input--border-size solid $input--border-color;
    border-radius: $input--radius;
    @if $input--border-less {
        border-top: 0;
        border-right: 0;
        border-left: 0;
    }

    transition: $form--transition;

    &:hover,
    &:focus {
        border-color: $input--border-color-focus;
    }

    @if $form--float-label-google {
        &:focus {
            border-color: $form--primary;
            box-shadow: 0 0 0 1px $form--primary;
        }
    }
    
    &[disabled],
    fieldset[disabled] & {
        color: $input--disabled-color;

        background-color: $input--disabled-background-color;
        border-color: $input--disabled-border-color;
        box-shadow: none;

        @include placeholder {
            color: $input--disabled-placeholder-color;
        }
    }
}

.input {
    @include input;
}

// Password
.input-switch-type {
    position: absolute;
    top: 50%;
    right: $form--pr;
    z-index: 9;

    font-weight: $form--label-weight;
    font-size: rem(12);
    text-transform: uppercase;

    transform: translate3d(0, -50%, 0);
    cursor: pointer;
}

// Intl tel input
.iti {
    // height: $input--height;
    &:hover,
    &:focus {
        .input {
            border-color: $input--border-color-focus;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

$textarea--max-height: 40em !default;
$textarea--min-height: 8em !default;

.textarea {
    @include input;
    display: block;
    min-width: 100%;
    max-width: 100%;

    resize: vertical;

    &:not([rows]) {
        min-height: $textarea--min-height;
        max-height: $textarea--max-height;
    }

    &[rows] {
        height: initial;
    }  // Modifiers
    &.has-fixed-size {
        resize: none;
    }
}
