// Global
$select--height: $form--height;
$select--primary: $form--primary;
$select--color: $black;
$select--background: $white;
// Border
$select--radius: $form--border-radius;
$select--border-color: $form--border-color;
$select--border-color-focus: $form--border-color-focus;
$select--border-size: $form--border-size;
// Padding
$select--ptb: $form--pl;
$select--plr: $form--pl;
// Config
$select--border-less: $form--border-less;
$select--with-triangle: false;

// BULMA STUFF
.select,
%select {
    position: relative;

    display: inline-block;
    width: 100%;

    vertical-align: top;

    select {
        display: block;
        width: 100%;
        height: $form--height;
        padding: $select--ptb $select--plr;

        font-size: 1em;
        //// Remove default arrow
        
        background: $select--background;

        border: $select--border-size solid $border-color;
        border-radius: $select--radius;
        outline: none;
        box-shadow: none;
        // @extend input
        cursor: pointer;
        
        // Remove default arrow
        appearance: none;
        appearance: none;

        &::-ms-expand {
            display: none;
        }
        @if $select--border-less {
            border-top: 0;
            border-right: 0;
            border-left: 0;
        }

        &:hover,
        &:focus {
            border-color: $select--border-color-focus;
        }

        &[multiple] {
            height: auto;
            padding: 0;

            option {
                padding: 0.5em 1em;
            }  // States
        }

        &:not([multiple]) {
            @include ltr-property('padding', 2.5em);
        }
    }

    &:not(.select--loading) {
        &::after {
            @if $select--with-triangle {
                @include pseudo();
                @include centeriser('vertical');
                @include triangle(bottom,$select--primary,10px,10px);
                top: 51%;

                border-radius: rem(10);
            }@else {
                @include arrow($select--primary);
            }

        }
    }
    
    &::after {
        @include ltr-position(1.125em);
        z-index: 4;
    }

    &--loading {
        &::after {
            @include loading($select--primary);
            position: absolute;
            top: 50%;

            margin-top: -0.4375em;

            transform: none;
        }
    }
    
}
