$button-height: $form-height;
$button-radius: $radius;
$button-transition: all .2s ease-in-out;

.button{
    cursor: pointer;
    box-shadow: none;
    border-radius: $button-radius;
    font-family: $font-default;
	font-weight: $fw-regular;
    height: $button-height;
    line-height: 1;
    &:active,
    &.is-active,
    &:focus,
    &.is-focused{
        box-shadow: none;
        &:not(:active){ box-shadow: none; }
    }
}
.button{
    transition: $button-transition;
}
