// V1
$checkbox-size: rem(30);
$checkbox-margin-size: 24px;
$checkbox-size-hover: 2.8;
$checkbox-border-size: 1px;
$checkbox-border-radius: 0px;
$checkbox-border-color: $border-color;
$checkbox-border-color-checked: $primary;
$checkbox-background-hover: rgba($border-color, 0.2);
$checkbox-background-checked: $primary;
$checkbox-check-width: 3;
$checkbox-check-color: findColorInvert($primary); // findColorInvert is a bulma function
/// V1

// MIXIN
// MIXIN
// MIXIN
@keyframes check {
    0% { stroke-dashoffset: 400; opacity: 1;}
    100% { stroke-dashoffset: 350; opacity: 1;}
}

@mixin checkbox($size: $checkbox-size,
                $size-hover: $checkbox-size-hover,
                $border-size: $checkbox-border-size,
                $border-radius: $checkbox-border-radius,
                $border-color: $checkbox-border-color,
                $border-color-checked: $checkbox-border-color-checked,
                $background-hover: $checkbox-background-hover,
                $background-checked: $checkbox-background-checked,
                $check-width: $checkbox-check-width,
                $check-color: $checkbox-check-color,
                $color: $form-color,
){
    cursor: pointer;
    color: $color;
    input{ position: absolute; opacity: 0;}
    .checkbox-el {
        position: relative;
        display: inline-block;
        width: $size;  height: $size;
        min-width: $size;  min-height: $size;
        // margin-right: calc(#{$checkbox-margin-size} - #{$checkbox-size});
        border-radius: $border-radius;
        border: $border-size solid $border-color;
        background: transparent;
        opacity: 1;
        &:after{
            content: "";
            position: absolute;
         	top: 50%;
        	left: 50%;
        	width: calc(#{$size} / 1.6);
        	height: calc(#{$size} / 1.6);
        	border-radius: 50%;
            background: $background-hover;
            transform: translate3d(-50%,-50%,0);
            opacity: 0;
            transition: all .2s ease;
            // @include mq(ie){
            //     width: calc( #{$size} / 3 );
            //     height: calc( #{$size} / 2 );
            //     border-radius: 0;
            //     background: transparent;
            //     border-bottom: 2px solid $check-color; border-right: 2px solid $check-color;
            //     transform: translate3d(-50%,-50%,0) rotate(45deg);
            //     opacity: 0;
            //     transition: none;
            // }
        }
    }

    .checkbox-el .svg{
        position: absolute;
        z-index: 1;
        left: 50%;  top: 50%;
        height: 65%; width: 65%;
        transform: translate3d(-50%,-50%,0);

        .check{
          stroke: $check-color;
          fill: none;
          stroke-width: $check-width;
          stroke-dasharray: 400;
          stroke-dashoffset: 350;
          opacity: 0;
        }
    }
    &:hover{
        color: $color;
    }
    &:hover input ~ .checkbox-el,
    &:hover input ~ * .checkbox-el {
        &:after{
          opacity: 1;
          transform: translate3d(-50%,-50%,0) scale(#{$size-hover});
          // @include mq(ie){
          //     opacity: 0;
          // }
        }
    }
    input:checked ~ .checkbox-el,
    input:checked ~ * .checkbox-el {
         &:after{
            background: $background-checked;
            opacity: 1;
            transform: translate3d(-50%,-50%,0) scale(1);
            // @include mq(ie){
            //     opacity: 1;
            //     transition: none;
            //     transform: translate3d(-50%,-50%,0) rotate(45deg);
            // }
         }

         background: $background-checked;
         border-color: $border-color-checked;

         .svg .check { animation: check .3s ease .1s forwards; }
    }

    display: flex;
    align-items: center;
    &.is-float{
        display: block;
        .checkbox-el {
            float: left;
        }
    }
}
// CHECKBOX
// CHECKBOX
// CHECKBOX
input[type="checkbox"]{
    position: absolute;
}
.checkbox{
    @include checkbox();
    span:not(.checkbox-el){
        margin-bottom: rem(-2);
    }
    .checkbox-el{
        margin-right: rem(15);
    }
}
