// V1
$input-label-color: $black;
$input-color: $black;
$input-background: $white;
$input-radius: $form-radius;
$input-border-size: $form-border-size;
$form-border-top-size: $input-border-size;
$form-border-right-size: $input-border-size;
$form-border-bottom-size: $input-border-size;
$form-border-left-size: $input-border-size;
$input-border-color: $border-color;
$input-border-color-focus: darken($border-color, 10%);
$input-height: $form-height;
$input-pt: $form-pt;
$input-pr: $form-pr;
$input-pb: $form-pb;
$input-pl: $form-pl;
/// V1

.label{
    color: $input-label-color;
    font-weight: $fw-medium;
    font-size: rem(16);
}

.input, .textarea{
    font-size: rem(16);
    box-shadow: none;
    color: $input-color;
    background: $input-background;
    border-top: $form-border-top-size solid $input-border-color;
    border-left: $form-border-left-size solid $input-border-color;
    border-bottom: $form-border-bottom-size solid $input-border-color;
    border-right: $form-border-right-size solid $input-border-color;
    &:active,
    &:hover,
    &.is-active,
    &:focus,
    &.is-focused{
        box-shadow: none;
        border-top: $form-border-top-size solid $input-border-color-focus;
        border-left: $form-border-top-size solid $input-border-color-focus;
        border-bottom: $form-border-top-size solid $input-border-color-focus;
        border-right: $form-border-top-size solid $input-border-color-focus;
        // BIGGER BODRE COLOR
        // box-shadow: 0 0 0 1px $input-border-color-focus;
    }
    // BIRTHDAY KILLER
    // BIRTHDAY KILLER
    // BIRTHDAY KILLER
    &.is-birthday-master{
        // padding-left: em(6) !important;
        padding-left: $input-pl;
        input{
            border: none; box-shadow: none;
            padding: 0; margin: 0;
            font-size: 1rem;
            text-align: left;
            color: $input-color;
            background: $input-background;
            &#day{
                width: em(28);
            }
            &#month{
                width: em(28);
            }
            &#year{
                width: em(48);
            }
        }
        label{ display: none !important;}
        .slash{
            margin-right:em(2);
            &.is-first{ margin-left:em(-2); margin-right:em(6); }
            &.is-second{ margin-left:em(5); margin-right:em(6); }

        }
    }
    // END BIRTHDAY KILLER
    // END BIRTHDAY KILLER
    // END BIRTHDAY KILLER
}

.input,
.textarea,
{
    border-radius: $input-radius;
    padding: $input-pt $input-pr $input-pb $input-pl;
    height: $input-height;
}

.input-infos, .radio-infos, .checkbox-infos{
    font-size: rem(14); *{ font-size: rem(14); }
    margin: 0 0 0 $input-pl;
    color: $grey-dark;
    margin-top: rem(7);
    line-height: 1;
    position: relative;
    &.content{
        margin-bottom: 0;
        p:not(:last-child){margin-bottom: rem(4);}
    }
}
.radio-infos, .checkbox-infos{
    // margin-left: 0;
}
.checkbox-infos .mt-3{
    margin-left: -#{$input-pl};
}
.field.error label.error{
    color: $danger !important;
}
// OVERHIDE ICON INPUT
// OVERHIDE ICON INPUT
// OVERHIDE ICON INPUT
.control.has-icons-left .icon, .control.has-icons-right .icon{
    height: $input-height;
}

// INTL TEL INPUT
// INTL TEL INPUT
// INTL TEL INPUT
.iti{
    height: $input-height;
}
//
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
