// Global
$checkbox--size: rem(30);
$checkbox--margin-size: 24px;
$checkbox--color: $form--color;
$checkbox--label-weight: $form--label-weight;
// After
$checkbox--after-size: rem(17);
$checkbox--after-size-hover: 2.8;
$checkbox--after-background: transparent;
$checkbox--after-background-hover: rgba($form--border-color-focus, 0.2);
$checkbox--after-background-checked: $form--primary;
// Background
$checkbox--back-background: $white;
$checkbox--back-background-hover: $white;
$checkbox--back-background-checked: $white;
// Border
$checkbox--border-radius: 0px;
$checkbox--border-size: $form--border-size;
$checkbox--border-color: $form--border-color;
$checkbox--border-color-hover: $form--border-color-focus;
$checkbox--border-color-checked: $form--primary;
// Check
$checkbox--check-width: 2;
$checkbox--check-color: findColorInvert($form--primary); // findColorInvert is a bulma function

.checkbox {
    color: $checkbox--color; 
    cursor: pointer;
    display: inline-block;
    font-weight: $checkbox--label-weight;
    position: relative;
    width: auto;
 
    input {
        cursor: pointer;
        opacity: 0;
        position: absolute;
    }

    .input-checkbox{
        &:checked:focus:not(:hover) ~.checkbox-inner .checkbox-checkbox,
        &:checked:focus:not(:hover) ~.checkbox-inner .checkbox-check{
            box-shadow: 0 0 0 $form--focus-width rgba($checkbox--border-color-checked, $form--focus-rgba);
        }        
    }
    
    &:hover,
    input:focus:not(:checked)~.checkbox-inner {
        .checkbox-checkbox,
        .checkbox-check {
            border-color: $checkbox--border-color-hover;
        }

        .checkbox-checkbox,
        .checkbox-check {
            background: $checkbox--back-background-hover;
            border-color: $checkbox--border-color-hover;

            &:after {
                background: $checkbox--after-background-hover;
                transform: translate3d(-50%, -50%, 0) scale($checkbox--after-size-hover);
            }
        }
    }

    &.is-float{
        .checkbox-inner {
            display: block;
        }
        .checkbox-check {
            float: left;
            margin-top: rem(5);
        }
    }

    &.is-block {
        width: 100%;
        .checkbox-inner{
            display: flex !important;
            align-items: center;
            height: $form--height;
            background: $form--background;
            border: $form--border-size solid $form--border-color;
            border-radius: $form--radius;
            padding: $form--pt $form--pr $form--pb $form--pl;
    
        }
        &:hover .checkbox-inner,
        .input-checkbox:focus ~.checkbox-inner{
            border-color: $checkbox--border-color-hover;
        }
    }
}


.checkbox-inner {
    align-items: center;
    display: inline-flex;
}

.checkbox-label {
    // line-height: 1.325;    
}

.checkbox-checkbox,
.checkbox-check {
    background: $checkbox--back-background;
    border: $checkbox--border-size solid darken($checkbox--border-color, 5%);
    border-radius: $checkbox--border-radius;
    color: transparent;
    display: inline-block;
    height: $checkbox--size;
    min-width: $checkbox--size;
    position: relative;
    width: $checkbox--size;
    margin-right: rem(15);
    transition: all 0.2s ease;
    
    &:after {
        background: $checkbox--after-background;
        // border-radius: $checkbox--border-radius;
        border-radius: 50%;
        content: '';
        height: $checkbox--after-size;
        width: $checkbox--after-size;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transition: all 0.2s ease;
    }
}

.check-svg-path{
    stroke-width: $checkbox--check-width;
    stroke: $checkbox--check-color;
}

.input-checkbox:checked~ .checkbox-inner .checkbox-check,
.input-checkbox:checked~ .checkbox-inner .checkbox-checkbox{
    background: $checkbox--back-background-checked;
    border-color: $checkbox--border-color-checked;

    &:after {
        background: $checkbox--after-background-checked;
        transform: translate3d(-50%, -50%, 0) scale(1);
        transition: all 0.1s ease;
    }

    &:not(.checkbox-checkbox) {
        background: $checkbox--after-background-checked;

        &:after {
            opacity: 0;
        }
    }
}
