$input--color: $black !default;
$input--background: $white !default;
$input--radius: $form--radius !default;
$input--border-color: $form--border-color !default;
$input--border-color-focus: $form--border-color-focus !default;

$input--pt: $form--pt !default;
$input--pr: $form--pr !default;
$input--pb: $form--pb !default;
$input--pl: $form--pl !default;

$input--border-size: $form--border-size !default;
$input--border-top-size: $input--border-size !default;
$input--border-right-size: $input--border-size !default;
$input--border-bottom-size: $input--border-size !default;
$input--border-left-size: $input--border-size !default;

$input--disabled-color: $text-light !default;
$input--disabled-background-color: $background !default;
$input--disabled-border-color: $background !default;
$input--disabled-placeholder-color: bulmaRgba($input--disabled-color, 0.3) !default;

@mixin input {
    @extend %control;
    background: $input--background;
    // Border
    border-radius: $input--radius;
    border-color: $input--border-color;
    border-top: $input--border-top-size solid $input--border-color;
    border-left: $input--border-left-size solid $input--border-color;
    border-bottom: $input--border-bottom-size solid $input--border-color;
    border-right: $input--border-right-size solid $input--border-color;

    color: $input--color;
    height: $form--height;
    padding: $input--pt $input--pr $input--pb $input--pl;

    max-width: 100%;
    width: 100%; 
    display: block;

    transition: $form--transition;

    &:hover,
    &:focus{
        border-color: $input--border-color-focus;
    }

    @if $form--change-filled-google {
        &:focus{
            border-color: $form--primary;
            box-shadow: 0 0 0 1px $form--primary;
        }
    }
    
    &[disabled],
    fieldset[disabled] & {
        background-color: $input--disabled-background-color;
        border-color: $input--disabled-border-color;
        box-shadow: none;
        color: $input--disabled-color;

        @include placeholder {
          color: $input--disabled-placeholder-color;
        }
    }
}

.input {
    @include input;
}

// Password
.input-switch-type{
    cursor: pointer;
    position: absolute; z-index: 9;
    right: $form--pr; top: 50%;
    transform: translate3d(0,-50%,0);
    font-size: rem(12);
    font-weight: $form--label-weight;
    text-transform: uppercase;
}

// Intl tel input
.iti{
    // height: $input--height;
    &:hover,
    &:focus{
        .input{
            border-color: $input--border-color-focus;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

$textarea--max-height: 40em !default;
$textarea--min-height: 8em !default;

.textarea {
    @include input;
    display: block;
    max-width: 100%;
    min-width: 100%;
    resize: vertical;

    &:not([rows]) {
        max-height: $textarea--max-height;
        min-height: $textarea--min-height;
    }
    &[rows] {
        height: initial;
    }  // Modifiers
    &.has-fixed-size {
        resize: none;
    }
}
