// Global
$radio--size: rem(30);
$radio--border-size: $form--border-size;
$radio--color: $form--color;
$radio--label-weight: $form--label-weight;
$radio--border-radius: 50%;
// After
$radio--after-size: rem(17);
$radio--after-size-hover: 2.5;
$radio--after-background: transparent;
$radio--after-background-hover: rgba($form--border-color-focus, 0.2);
$radio--after-background-checked: $form--primary;
// Background
$radio--back-background: $white;
$radio--back-background-hover: $white;
$radio--back-background-checked: $white;
// Border
$radio--border-color: $form--border-color;
$radio--border-color-hover: $form--border-color-focus;
$radio--border-color-checked: $form--primary;
// Background

.radio {
    color: $radio--color;
    cursor: pointer;
    display: inline-block;
    font-weight: $radio--label-weight;
    position: relative;
    width: auto;

    /* stylelint-disable-next-line scss/selector-no-redundant-nesting-selector */
    &+.radio {
        @include ltr-property('margin', #{rem(15)}, false);
    }

    input {
        cursor: pointer;
        opacity: 0;
        position: absolute;
    }

    &:hover, &:focus {
        color: $radio--color;

        .radio-radio,
        .radio-check {
            border-color: $radio--border-color-hover;
        }

        .radio-radio,
        .radio-check {
            background: $radio--back-background-hover;
            border-color: $radio--border-color-hover;

            &:after {
                background: $radio--after-background-hover;
                transform: translate3d(-50%, -50%, 0) scale($radio--after-size-hover);
            }
        }
    }


    &.is-block {
        width: 100%;
        .radio-inner{
            display: flex !important;
            align-items: center;
            height: $form--height;
            background: $form--background;
            border: $form--border-size solid $form--border-color;
            border-radius: $form--radius;
            padding: $form--pt $form--pr $form--pb $form--pl;
    
        }
        &:hover, &:focus {
            .radio-inner{
                border-color: $radio--border-color-hover;
            }
        }
    }
}

.radio-label {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
}

.radio-radio,
.radio-check {
    background: $radio--back-background;
    border: $radio--border-size solid darken($radio--border-color, 5%);
    border-radius: $radio--border-radius;
    color: transparent;
    display: inline-block;
    height: $radio--size;
    margin-right: em(10);
    min-width: $radio--size;
    position: relative;
    width: $radio--size;

    &:after {
        background: $radio--after-background;
        border-radius: $radio--border-radius;
        content: '';
        height: $radio--after-size;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transition: all 0.2s ease;
        width: $radio--after-size;
    }
}

.radio-inner {
    align-items: center;
    display: inline-flex;
}

.input-radio:checked~.radio-check,
.input-radio:checked~* .radio-check,
.input-radio:checked~.radio-radio,
.input-radio:checked~* .radio-radio {
    background: $radio--back-background-checked;
    border-color: $radio--border-color-checked;

    &:after {
        background: $radio--after-background-checked;
        transform: translate3d(-50%, -50%, 0) scale(1);
        transition: all 0.1s ease;
    }

    &:not(.radio-radio) {
        background: $radio--after-background-checked;

        &:after {
            opacity: 0;
        }
    }
}

// RADIOS
.radios{
    display: flex;
    flex-wrap: wrap;
    margin: rem(-3) rem(-10);
    .radio, .radio-infos, .radio-label{
        padding: rem(3) rem(10);
    }
}

.radio-infos{
    width: 100%;
}

.radio-label{
    width: 100%;
    font-weight: $form--label-weight;
}