// Global
$select--height: $form--height;
$select--primary: $form--primary;
$select--color: $black;
$select--background: $white;
// Border
$select--radius: $form--radius;
$select--border-color: $form--border-color;
$select--border-color-focus: $form--border-color-focus;
$select--border-top-size: $form--border-size;
$select--border-right-size: $form--border-size;
$select--border-bottom-size: $form--border-size;
$select--border-left-size: $form--border-size;
// Padding
$select--ptb: $form--pl;
$select--plr: $form--pl;
// Config
$select--border-less: false;
$select--with-triangle: false;

// BULMA STUFF
.select,
%select{
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: top;
    select {
        // @extend input
        cursor: pointer;
        display: block;
        font-size: 1em;
        width: 100%;
        outline: none;
        box-shadow: none;
        
        // Remove default arrow
        -webkit-appearance: none;
        -moz-appearance: none;
        &::-ms-expand {
            display: none;
        }
        //// Remove default arrow
        
        background: $select--background;
        border-radius: $select--radius;
        padding: $select--ptb $select--plr;
        height: $form--height;

        @if $select--border-less {
            border: 0 none;
            border-bottom: $select--border-bottom-size solid $border-color;
        }@else{
            border-top: $select--border-top-size solid $border-color;
            border-left: $select--border-left-size solid $border-color;
            border-bottom: $select--border-bottom-size solid $border-color;
            border-right: $select--border-right-size solid $border-color;
        }
        // @include selectBorderLess($select--border-less, darken($select--border-color,5%));

        &:hover {
            border-color: $select--border-color-focus;
        }
        &[multiple] {
            height: auto;
            padding: 0;
            option {
                padding: 0.5em 1em;
            }  // States
        }
        &:not([multiple]){
            @include ltr-property("padding", 2.5em);
        }
    }
    &:not(.is-loading) {
        &::after {
            @if $select--with-triangle {
                @include pseudo();
                @include centeriser('vertical');
                @include triangle(bottom,$select--primary,10px,10px);
                top: 51%;
                border-radius: rem(10);
            }@else{
                @include arrow();
                border-color: $select--primary;
            }

            @include ltr-position(1.125em);
            z-index: 4;
        }
      }
    &.is-loading {
        &::after {
            @extend %loader;
            margin-top: 0;
            position: absolute;
            // top: 0.625em;
            transform: none;
        }
    }
    
}
// INTL TEL INPUT
.selected-flag{
	max-height: $select--height;
}
.intl-tel-input .selected-flag{
    padding-left:$form--pl;
}
.intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text], .intl-tel-input.allow-dropdown input[type=tel], .intl-tel-input.separate-dial-code input, .intl-tel-input.separate-dial-code input[type=text], .intl-tel-input.separate-dial-code input[type=tel]{
    padding-left: calc(#{$form--pl} + 40px);
}
