.logo-springbok{
    display: inline-block;
    position: relative;
    width: 24px; height: 1rem;
    margin-right: rem(7);
    >svg{
        width: 24px; height: 24px;
        position: absolute;
        @include centeriser('both');
    }
} 

.header{
    background: $light;
    @extend #{'.wrapper'};
    >.container{
        padding: rem(10) 0;
    }
}

.header-nav{
    display: flex;
    justify-content: space-between;
    >.left, >.right{
        display: flex;
        align-items: center;
    }
} 