.header {
    @extend %wrapper;
    background: $white-ter;

    &__container {
        @extend %container;
        padding: rem(10) 0;
    }

    &__nav {
        display: flex;
        justify-content: space-between;

        &-left,
        &-right {
            display: flex;
            align-items: center;
        }
    } 
}

.logo-springbok {
    position: relative;

    display: inline-block;
    width: 24px;
    height: 1rem;
    margin-right: rem(7);

    >svg {
        @include centeriser('both');
        position: absolute;

        width: 24px;
        height: 24px;
    }
}
